<% include partials/header %> 

 <header class="header-container">
   <div class="container text-center">
     <h1>Web Dev Interview Questions</h1> 
     <p>Practice Interview Questions with Flashcards.</p>
     <p><a href="/register">Sign Up</a> to Create Your Own.</p>     
   </div>
 </header>
 <div class="main container text-center">
  <p>
    <a id="show-answers-btn" class="btn btn-primary btn-large">Show Answers</a>
    <a class="btn btn-primary btn-large" href="/new">Add New Question</a>
  </p>
  </br>
  <div class="text-center cat-section">
    <h2>Choose a Category</h2>
    </br>
    <a class="cat-label show-gen-cat">General</a>
    <div class="text-center gen-questions hidden">
      <% qnas.forEach(function(qna){ %>
        <% if(qna.category == "General"){ %>
        <% include card %>
        <% } %>
      <% }); %>
    </div>
    <a class="cat-label show-html-cat">HTML</a>
    <div class="text-center html-questions hidden">
      <% qnas.forEach(function(qna){ %>
        <% if(qna.category == "HTML"){ %>
        <% include card %>
        <% } %>
      <% }); %>
    </div>
    <a class="cat-label show-css-cat">CSS</a>
    <div class="text-center css-questions hidden">
      <% qnas.forEach(function(qna){ %>
        <% if(qna.category == "CSS"){ %>
        <% include card %>
        <% } %>
      <% }); %>
    </div>
    <a class="cat-label show-js-cat">Javascript</a>
    <div class="text-center js-questions hidden">
      <% qnas.forEach(function(qna){ %>
        <% if(qna.category == "Javascript"){ %>
        <% include card %>
        <% } %>
      <% }); %>
    </div>
    <a class="cat-label show-testing-cat">Testing</a>
    <div class="text-center testing-questions hidden">
    <% qnas.forEach(function(qna){ %>
        <% if(qna.category == "Testing"){ %>
          <% include card %>
        <% } %>
      <% }); %>
    </div>
    <a class="cat-label show-performance-cat">Performance</a>
    <div class="text-center performance-questions hidden">
    <% qnas.forEach(function(qna){ %>
        <% if(qna.category == "Performance"){ %>
          <% include card %>
        <% } %>
      <% }); %>
    </div>
    <a class="cat-label show-network-cat">Network</a>
    <div class="text-center network-questions hidden">
    <% qnas.forEach(function(qna){ %>
        <% if(qna.category == "Network"){ %>
          <% include card %>
        <% } %>
      <% }); %>
    </div>
    <a class="cat-label show-coding-cat">Coding</a>
    <div class="text-center coding-questions hidden">
    <% qnas.forEach(function(qna){ %>
        <% if(qna.category == "Coding"){ %>
          <% include card %>
        <% } %>
      <% }); %>
    </div>
    <a class="cat-label show-fun-cat">Fun</a>
    <div class="text-center fun-questions hidden">
    <% qnas.forEach(function(qna){ %>
        <% if(qna.category == "Fun"){ %>
          <% include card %>
        <% } %>
      <% }); %>
    </div>
    <a class="cat-label show-react-cat">React</a>
    <div class="text-center react-questions hidden">
    <% qnas.forEach(function(qna){ %>
        <% if(qna.category == "React"){ %>
          <% include card %>
        <% } %>
      <% }); %>
    </div>
    <a class="cat-label show-algo-cat">Algorithms</a>
    <div class="text-center alog-questions hidden">
    <% qnas.forEach(function(qna){ %>
        <% if(qna.category == "Algorithms"){ %>
          <% include card %>
        <% } %>
      <% }); %>
    </div>

  </div>    
 </div>

<% include partials/footer %>