<% include partials/header %> 
  <div class="container">

    <form method="POST" style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
     <h3>Add Question and Answer</h3>
     <div class="form-group">
       <label>Question</label>
       <input type="text" name="question" class="form-control">
     </div>
     <div class="form-group">
       <label>Answer</label>
       <input type="text" name="answer" class="form-control">
     </div>
     <div class="form-group">
       <label>Source</label>
       <input type="text" name="source" class="form-control">
     </div>
     <div class="form-group">
       <button class="btn btn-success">Submit</button>
     </div>
   </form>
   <a href="/">Go Back</a>
   <!-- <a class="btn btn-primary" href="/register">Register</a> -->
   <div class="container">

      <div class="text-center" style="">
        <% qnas.forEach(function(qna){ %>
          <div>
            <h2><%= qna.question %></h2>
              <p><%= qna.answer %></p>
              <p><%= qna.author.username %></p>
              <button>Edit</button>
          </div>
        <% }); %>
      </div>
    </div>

  </div>
<% include partials/footer %>
