* {
	box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  min-height: 75rem;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  flex-direction: column;
  background-color: lightgray;
}

.alert {
	margin: 75px auto 20px;
	max-width: 35%;
	text-align: center;
}

.navbar {
	background-color: black;
	border-bottom: 0;
}

.navbar-nav>li>a:hover {
	color: #0DDFFF !important;

}
.header-container {
	background-color: #4F5052;
	width: 100% !important;
	height: 800px;
	color: #0DDFFF;
}

.header-container a {
	color: #0DDFFF;
}

h1 {
	margin-top: 300px;
	font-size: 4em;
}

.btn {
	background-color: #0DDFFF;
	color: black;
	border-color: darkgray;
}

.btn:hover {
	background-color: blue;
	border-color: darkgray;

}

.btn-large {
	width: 144px;
	margin-top: 30px;
}

h2 {
	margin: 0;
}

.card {
	border: 0.5px solid gray;
	max-width: 60%;
	margin: 10px auto;
	padding: 10px;
	background-color: white;
}

.card-btn {
	width: 75px;
}

.question {
	display: inline-block;
	margin-bottom: 15px;

}

.hide-answer {
	display: none;
	max-width: 75%;
	margin: 10px auto 20px;
}

#hide-answers-btn {
	display: none;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.forms {
	color: white;
	background-color: #4F5052;
	max-width: 300px; 
	margin: 100px auto 250px; 
	border: 0.5px solid gray; 
	border-radius: 3px;
	padding: 30px 30px 30px 30px;
}
.new-question-form {
	max-width: 80%;
}

#card-form {
	background-color: white;
}

.cardControl {
	width: 100%;
	text-align: center;
	margin: 5px auto;
}

.cardControl>.btn {
	width: 75px;
}

.flashcard-container {
	margin-top: 100px;
	margin-bottom: 200px;
}

.flashcardSection {
	height: 250px;
}

.flashcardEvent {
	border-radius: 4px;
	width: 60%;
	padding: 3%;
	text-align: center;
	margin: 10px auto;
	border: 1px solid #B8C0C5;
	color: #222;
	display: none;
}

.flashcardEvent:first-child {
	display: block;
}

.flashcardEvent .back {
	display: none;
}

.edit-title {
	text-align: center;
	margin-top: 100px;
}

footer {
	color: white;
	background-color: black;
	height: 100px;
	text-align: center;
	padding-top: 20px;
	margin-top: 30%;
	width: 100% !important;
}

@media screen and (max-width: 760px) {

	.card {
		max-width: 100%;
	}

	.flashcardEvent {
		width: 100% !important;
	}

	.alert {
		max-width: 90%;
	}

	.card>p>a {
		margin-top: 10px;
	}
}

@media screen and (min-width: 760px) {
	
	.card-btn {
		float: right;
		margin: -30px 10px 40px;
	}
}