* {
	box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  min-height: 75rem;
  padding-top: 6.5rem;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  flex-direction: column;
}

.jumbotron {
	background-color: #9fb6ca !important;
}

.btn-large {
	width: 144px;
}

h2 {
	margin: 0;
}

.login-modal {
	display: none;
	text-align: center;
	width: 50%;
	position: absolute;
	top: 30vh; 
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 99;
	background-color: lightgray;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card {
	border: 0.5px solid gray;
	max-width: 60%;
	margin: 10px auto;
	padding: 10px;
}

.question {
	display: inline-block;
	margin-bottom: 15px;

}

.hide-answer {
	display: none;
	max-width: 75%;
	margin: 10px auto 20px;
}

#hide-answers-btn {
	display: none;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.cardControl {
		width: 100%;
		text-align: center;
		margin: 5px auto;
}

.flashcardSection {
		height: 250px;
}

.flashcardEvent {
		border-radius: 4px;
		width: 60%;
		padding: 3%;
		text-align: center;
		margin: auto;
		border: 1px solid #B8C0C5;
		color: #222;
		display: none;
}

.flashcardEvent:first-child {
		display: block;
}

.flashcardEvent .back {
		display: none;
}

footer {
	color: white;
	background-color: black;
	height: 100px;
	text-align: center;
	padding-top: 20px;
	margin-top: 80%;
	width: 100% !important;
}

@media screen and (max-width: 760px) {

	.card {
		max-width: 100%;
	}

	.flashcardEvent {
		width: 100% !important;
		
	}
}

@media screen and (min-width: 760px) {
	
	.card-btn {
		float: right;
		margin: -30px 10px 40px;
	}
}